[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
rusyllab = {git = "https://github.com/Koziev/rusyllab"}

[requires]
python_version = "3.7"
